NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
SSO_REDIRECT_URI=

SSO_ISSUER=
SSO_AUTHORIZE_URL=
SSO_TOKEN_URL=
SSO_USERINFO_URL=
SSO_JWKS_URL=

SSO_SESSION_SECRET=

NEXT_PUBLIC_SITE_URL=

SSO_MAIL_API_KEY=