NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
SSO_REDIRECT_URI=

SSO_ISSUER=https://sso.awslpu.in
SSO_AUTHORIZE_URL=https://sso.awslpu.in/authorize
SSO_TOKEN_URL=https://sso.awslpu.in/oauth/token
SSO_USERINFO_URL=https://sso.awslpu.in/oauth/userinfo
SSO_JWKS_URL=https://sso.awslpu.in/oauth/jwks

SSO_SESSION_SECRET=

NEXT_PUBLIC_SITE_URL=

SSO_MAIL_API_KEY=